.mainDiv{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*-----------------------*/

.start{
  width: 100px;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  left: calc(50% - 50px);

}

/*-----------------------*/

table{
  position: relative;
  left: 0%;
  width: 100%;
  border: black 2px solid;
  font-size: 20px;
}

td {
  border: 1px solid #000;
}

tr td:last-child {
  width: 10%;
  white-space: nowrap;
}

tr.searchStudent{
  color: red;
}

tr.filterThreeStudent{
  color: blue;
}

/*-----------------------*/

div.methods {
  display: block;
  position: relative;
}

div.searchStudent {
  display: none;
}
div.filterThreeStudent{
  display: none;
}
div.filterStudentForScore{
  display: none;
}
div.filterStudentForDate{
  display: none;
}
b{
  left: 20px;
}
/*-----------------------*/
.popup{
  display: none;
  height: 200px;
  width: 200px;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

.popup-content {
  position: absolute;
  top: 20%;
  left: 10%;
  size: 30px;
  font-size: 35px;
}

.popupButtonYes{
  position: absolute;
  height: 30px;
  width: 50px;
  bottom: 10px;
  left: 15px;
}
.popupButtonNo{
  position: absolute;
  height: 30px;
  width: 50px;
  bottom: 10px;
  right: 15px;
}
