<button type="button" class="close" [style.display]="changeStudentForTable===true?'block':'none'" (click)="close()">X</button>
<div [style.display]="confirmation===true?'block':'none'" class="popup">
  <div class="popup-content">
    Delete this student?
  </div>
  <button class="popupButtonYes" (click)="deleteStudent()">yes</button>
  <button class="popupButtonNo" (click)="no()">no</button>
</div>

  <div class="mainDiv">
<!--<button class="start" (click)="getStudent()">start</button>-->
    <div class="start">STUDENTS TABLE</div>
  <button class="methods" (click)="methodsOn()">---<br />---</button>
<table class="students">
  <tr><th></th><th class="tableUp" (click)="sortStudent('Name')" ><b [style.font-weight]="nameSort===true?'bold ':'normal'">Name</b></th>
    <th class="tableUp" (click)="sortStudent('Surname')"><b [style.font-weight]="surnameSort===true?'bold':'normal '">Surname</b></th>
    <th class="tableUp" (click)="sortStudent('Patronymic')"><b [style.font-weight]="patronymicSort===true?'bold ':'normal'">Patronymic</b></th>
    <th class="tableUp" (click)="sortStudent('Date')"><b [style.font-weight]="dataSort===true?'bold ':'normal'">Date</b></th>
    <th class="tableUp" (click)="sortStudent('Score')"><b [style.font-weight]="scoreSort===true?'bold ':'normal'">Score</b></th></tr>

  <tr [ngClass]="{'searchStudent': student.isChanged.searchStudent, 'filterThreeStudent': student.isChanged.filterThreeStudent, 'changeStudent': student.isChanged.changeStudent}"
      *ngFor="let student of resultStudentList" >
    <td><button class="buttonDelete" (click)="saveIndexDelete(student)"> - </button></td>
    <td (click)="saveIndex(student)">{{student.studentName}}</td>
    <td (click)="saveIndex(student)">{{student.studentSurname}}</td>
    <td (click)="saveIndex(student)">{{student.studentPatronymic}}</td>
    <td (click)="saveIndex(student)">{{student.studentDate.day}}.{{student.studentDate.month}}.{{student.studentDate.year}}</td>
    <td (click)="saveIndex(student)">{{student.studentScore}}</td></tr>
</table><br />



<div class="methods" [style.display]="methods===true?'block':'none'">

  <button class="methods" (click)="methodsOff()">---<br />---</button>

  <div class="searchStudent" >
    <input class="searchStudent" [(ngModel)]="searchStudent" >
    <button class="searchStudent" (click)="searchStudents(searchStudent)">search</button>
  </div>

  <div class="filterThreeStudent"  >
    <input class="checkbox" type="checkbox" [(ngModel)]="filterThreeCheck" (change)="filterThreeStudent()"><b class="filterThreeStudent">mark unsuccessful students</b>
  </div>
  <div class="filterStudentForDate" >
    <b class="filterStudentForDate">student for date</b><br />
    <input type="date" class="minDate" [(ngModel)]="minDate" /> - <input type="date" class="maxDate" [(ngModel)]="maxDate" /><br />
  </div>
  <div class="filterStudentForScore">
    <b class="filterStudentForScore">student for score</b><br />
    <input type="number" class="minScore" [(ngModel)]="minScore" /> - <input type="namber" class="maxScore" [(ngModel)]="maxScore" /><br />
  </div>
  <div class="filterStudentFor"><button class="filterStudentFor" (click)="filterStudent()">filter</button><button class="filterStudentFor" (click)="discharge()">discharge</button></div>
  <add_student class="add" (changeStudentTable)="onClick($event)" [addStudentForTable] = "this.addStudentForTable" >  </add_student>

</div>

    <add_student [style.display]="changed===true?'block':'none'" [changeStudentForTable] = "this.changeStudentForTable" [ngClass]="{'changed': changed}" (changeStudentTable)="onClick($event)"
                 [name]= "this.index === undefined?'Name':this.resultStudentList[this.index].studentName"
                 [surname]="this.index === undefined?'Surname':this.resultStudentList[this.index].studentSurname"
                 [patronymic]="this.index === undefined?'Patronymic':this.resultStudentList[this.index].studentPatronymic"
                 [day]="this.index === undefined?1:this.resultStudentList[this.index].studentDate.day"
                 [year]="this.index === undefined?2010:this.resultStudentList[this.index].studentDate.year"
                 [month]="this.index === undefined?1:this.resultStudentList[this.index].studentDate.month"
                 [score]="this.index === undefined?5:this.resultStudentList[this.index].studentScore"
                 [newStudent]="{}">
                </add_student>
  </div>







