
input.AddStudentComponent{
  height: 24px;
  width: 144px;
}

button.add{
  height: 30px;
  font-size: 17px;
  font-weight: bold;
}
button.change{
  height: 30px;
  font-size: 17px;
  font-weight: bold;
}

div.nameInput{
  font-size: 17px;
  font-weight: bold;
}

input.dateDay{
  width: 40px;
}

input.dateMonth{
  width: 40px;
}

input.dateYear{
  width: 100px;
}

.error{
  color: red;
  font-size: 18px;
}

button.addButton{
  font-size: 32px;
  width: 40px;
  height: 40px;
  z-index: 1;
  position: fixed;
  right: 10px;
  top: 250px;
}
