
<div class="addStudent">
 <form novalidate [formGroup]="studentForm" (ngSubmit)="_onSubmit()">
   <div formGroupName="addStudent">
     <div class="nameInput">Student name</div>
     <input class="AddStudentComponent" formControlName="name" ><br />
     <div class="nameInput">Student surname</div>
     <input class="AddStudentComponent" formControlName="surname"><br />
     <div class="nameInput">Student patronymic</div>
     <input class="AddStudentComponent" formControlName="patronymic"><br />
     <div class="nameInput">Student date</div>
     <input type="number"  class="AddStudentComponent dateDay" formControlName="dateDay">
     <input type="number"  class="AddStudentComponent dateMonth" formControlName="dateMonth">
     <input type="number"  class="AddStudentComponent dateYear" formControlName="dateYear"><br />
     <div class="nameInput">Student score</div>
     <input type="number" class="AddStudentComponent" formControlName="score">
   </div>

 </form>
   <button  type="button" [style.display]="addStudentForTable===true?'block':'none'" class="add"  (click)="addStudentOnTable('add')" >ADD</button>
   <button  type="button" [style.display]="changeStudentForTable===true?'block':'none'" class="change"  (click)="addStudentOnTable('change')">CHANGE</button>

<div [style.display]="errorMy===true?'block':'none'" class="error">{{this.studentForm.get("addStudent")?.getError("errorStudentForm")}}</div>

</div>

