#container{
    /*border: blue 10px solid;*/
    position: absolute;
    overflow: hidden;
}

div.value{
    text-align:center;
    border:black 2px solid;
    position: relative;
}

div.knot{
    /*border: yellow 2px solid;*/
    position: relative;
}

div.searchValue{
    border:red 2px solid;
    color: #7b0505;
}

div.left{
    float: left;
}
div.left::before{
    position: relative;
    content: "  |\0a_|";
    left: 40%;
    white-space: pre;
}

div.right{
    float: right;
}

div.right::before{
    position: relative;
    content: "|\0a|_";
    left: 50%;
    white-space: pre;
}

